<%- include('admin_header')%>
			<!-- Page Wrapper -->
            <div class="page-wrapper">
                <div class="content container-fluid">
					<% if (messages.error) { %>
						<div id="errorMessage" class="alert alert-danger" role="alert">
							<%= messages.error %>
						</div>
					<% } %>
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-7 col-auto">
								<h3 class="page-title">Specialities</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin-dashboard">Dashboard</a></li>
									<li class="breadcrumb-item active">Specialities</li>
								</ul>
							</div>
							<div class="col-sm-5 col">
								<a href="#Add_Specialities_details" data-toggle="modal" class="btn btn-primary float-right mt-2">Add</a>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="table-responsive">
										<table class="datatable table table-hover table-center mb-0">
											<thead>
												<tr>
													<th>Sr.no</th>
													<th>Specialities</th>
													<th class="text-right">Actions</th>
												</tr>
											</thead>
											<tbody>
												<% specialities.forEach((row, index) => { %>
												  <tr>
													<td><%= index + 1 %></td>
													<td>
													  <img class="avatar-img" src="<%= row.image %>" alt="Speciality"><%= row.name %>
													</td>
													<!-- <td></td> -->
													<td class="text-right">
														<div class="actions">
															<a class="btn btn-sm bg-success-light" data-toggle="modal" href="#edit_specialities_details<%=row._id%>">
																<i class="fe fe-pencil"></i> Edit
															</a>
															<a  data-toggle="modal" href="#delete_modal<%=row._id%>" class="btn btn-sm bg-danger-light">
																<i class="fe fe-trash"></i> Delete
															</a>
														</div>
													</td>
												  </tr>
												<% }) %>
											  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>			
					</div>
				</div>			
			</div>
			<!-- /Page Wrapper -->
			
			
			<!-- Add Modal -->
			<div class="modal fade" id="Add_Specialities_details" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Add Specialities</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/add-speciality" method="post" enctype="multipart/form-data">
								<div class="row form-row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Specialities</label>
											<input type="text" name="speciality" class="form-control" required>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Image</label>
											<input type="file" name="image" class="form-control" required>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /ADD Modal -->
			
			<!-- Edit Details Modal -->
			<% specialities.forEach((row, index) => { %>
			<div class="modal fade" id="edit_specialities_details<%=row._id%>" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Specialities</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form action="/update-speciality/<%=row._id%>" method="post" enctype="multipart/form-data">
								<div class="row form-row">
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Specialities</label>
											<input type="text" name="name" class="form-control" value="<%=row.name%>" required>
										</div>
									</div>
									<div class="col-12 col-sm-6">
										<div class="form-group">
											<label>Image</label>
											<input type="file" name="image" class="form-control">
											<img class="avatar-img" src="<%= row.image %>" alt="Speciality">
											<input type="hidden" name="old_image" value="<%= row.image %>">
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<% }) %>
			<!-- /Edit Details Modal -->
			
			<!-- Delete Modal -->
			<% specialities.forEach((row, index) => { %>
			<div class="modal fade" id="delete_modal<%=row._id%>" aria-hidden="true" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document" >
					<div class="modal-content">

						<div class="modal-body">
							<div class="form-content p-2">
								<form action="/delete-speciality/<%=row._id%>" method="post">
								<h4 class="modal-title">Delete</h4>
								<p class="mb-4">Are you sure want to delete?</p>
								<p class="small">Be careful while deleting the speciatlity because doctor associated with that speciality also get deleting</p>
								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-danger">Delete</button>
								</form>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<% }) %>
			<!-- /Delete Modal -->
        </div>
		<!-- /Main Wrapper -->
		<% if (successMessage) { %>
			<script>
				// Display an alert box with the success message
				alert('<%= successMessage %>');
			</script>
		<% } %>

		
<%- include('admin_footer')%>

<script>
    // Delay the disappearance of the error message
    setTimeout(() => {
        var errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }, 2000); // 2 seconds
</script>